= image_tag @commit.image.url, class: 'card-image'

= form_for Comment.new, remote: true, url: board_commit_comments_path(@board, @commit) do |f|
  = f.text_area :body
  = f.submit 'Comment!', id: 'add-comment'

%ul.comments
  = render @commit.comments
