- title @board.name
= content_for :menu do
  .menu
    %h1= @board.name
    %ul.menu-items
      %li= link_to 'Install', '#', class: 'js-install-link'
      - if logged_in?
        %li= link_to current_user.name, dashboard_path
      - else
        %li= link_to 'Log in', auth_at_provider_path(:github)

.with-menu.center
  - if logged_in?
    %div{id: 'installation-instructions', class: @commits.present? ? 'hidden' : ''}
      .spacing-top.spacing-bottom
        %p Just paste the command below into your shell to install to your project.
        %input{id: 'code-example', class: 'code-example', type: 'text', data: {select_text: true},
          value: "curl #{install_url(UserBoardToken.for(user: current_user, board: @board))} | ruby"}

        %p You can install this commitboard to as many git projects as you like.

  #board{data: {incoming_url: incoming_board_path}}
    %ul.commits
      = render @commits
