- title current_user.name
= content_for :menu do

  .menu
    %h1= current_user.name
    %ul.menu-items
      %li= link_to 'Log out', session_path, method: :delete, id: 'log-out'

.spacing-top.gutter
  - if current_user.boards.present?
    %h1 Your boards
    %ul.boards
      = render current_user.boards
  - else
    %h1 You have no boards yet!

.spacing-top.gutter
  = form_for Board.new do |f|
    %h1 Create a new board
    = f.text_field :name, placeholder: 'Board name', autofocus: true
    = f.submit 'Go!', id: 'create_board', class: 'btn'
