!!!
%html
  %head
    %title #{yield :title}Commitboards
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no"}
  %body
    = yield :menu

    - if content_for? :menu
      .with-menu

    .animated.fadeInDown
      - if flash[:alert]
        #js-global-message.alert= flash[:alert]
      - if flash[:notice]
        #js-global-message.notice= flash[:notice]

      .container
        = yield

    = yield :bottom
