!!!
%html
  %head
    %title #{yield :title}Commitboards
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield :menu

    - if content_for? :menu
      .with-menu

    .animated.fadeInDown
      - if flash[:alert]
        #js-global-message.alert= flash[:alert]
      - if flash[:notice]
        #js-global-message.notice= flash[:notice]
      = yield
